.owl-prev {
    position: absolute;
    left: 0;
    left: 20px;
    height: 30px;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    background: url(../../assets/img/core-img/long-arrow-left.svg) no-repeat !important;
    width: 30px;
    opacity: 0.4;
    border: none !important;
  }
  
  .owl-nav span {
    visibility: hidden;
  }
  
  button.owl-prev:focus {
    border:transparent 0px
  }
  
  .owl-next {
    position: absolute;
    right: 0;
    right: 20px;
    height: 30px;
    text-align: center;
    transform: translateY(-50%);
    top: 50%;
    background: url(../../assets/img/core-img/long-arrow-right.svg) no-repeat !important;
    width: 30px;
    opacity: 0.4;
  }
    
  button.owl-prev:focus, 
  button.owl-next:focus {
    outline: none;
  }

  .form-control.quantitybox {
    width: 40px;
    height: 35px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }

  .single_product_desc .quantitybutton{
    min-width: 30px;
    padding: 0px;
    background-color: transparent;
    border: none;
    outline: none;
  }

  .single_product_desc .quantitybutton:focus{
    background-color: transparent;
    border: none;
    outline: none;
  }

  .single_product_details_area .single_product_desc .product-price .new-price{
    display: inline-block;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    color: #dc0345;
    font-weight: 700;
    text-decoration: none;
    margin-right: 0px;
  }

  .owl-stage .owl-item:active{
    padding-left: 50px;
    padding-right: 50px;
  }

  .owl-carousel .owl-stage-outer .owl-stage .owl-item div{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .single_product_desc .priceperitem{
  font-size: 10px;
  height: 10px;
  letter-spacing: normal;
  text-transform: none;
  font-weight: normal;
  color: #484848;
  }

  .single_product_desc .outofstock{
    color: #dc0345;
    height: 10px;
    margin: 0px 0px 10px 0px;
  }