/* .header-image {
    background-image: url("../../utils/img/bg-img/bg-8.jpg");
} */

.header-image {
  /* background: url() no-repeat center center fixed; */
  /* background-image: url("../../assets/img/bg-img/bg-8.jpg"); */
  /* i had to use content instead of using an background image in background image in background tag. */
  /* content: url(../../assets/img/bg-img/bg-8.jpg); */
  background-size: cover;
  /* height: auto; */
  min-width: 100%;
}

.quote-header {
  display: flex;
}

.quote-icon {
  color: #0315ff;
}

.content-container {
  padding-left: 80px;
  padding-right: 80px;
}

p {
  font-size: 18px;
  font-weight: 300;
  color: #787878;
  line-height: 2;
}

h6 {
  font-size: 18px;
  line-height: 2;
}