/* Signin page css */

.signinhead{
    padding: 1rem;
}
.link{
    text-decoration: underline;
    color:blue ;
    text-align: left;
    margin-left: 87%;
    font-size: 1rem;
}
.signincontainer{
    color: aliceblue;
    border: solid 1px #d0d0dc;
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 19%;
    background-color: #2986d6de;
}
.signinExplanation{
    padding: 1rem;
    color: aliceblue;
}
.btnpostion{
    text-align: center;
}
.bgimage{
    background-image: url( "../../assets/img/bg-img/loginbg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}