.affiliate-logo {
  content: url(../Assets/m1120006_affiliate-header.jpg);
}

.man-image {
  content: url(../Assets/m1120007_autozoner.jpg);
}

.papperjam-logo {
  content: url(../Assets/m9820002_pepperjam-logo.png);
}
