.signuphead{
    padding: 1rem;
}
.signupExplanation{
    padding: 1rem;
    color: aliceblue;
}

.signupcontainer{
    color: aliceblue;
    border: solid 1px #d0d0dc;
    padding: 1%;
    border-radius: 7px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 19%;
    background-color:#2986d6de;
}
.btnpostion{
    text-align: center;
}
.namefeild{
    padding: 3%;
}
.message{
    margin-top: 1%
}
.btnpostion{
    text-align: center;
}
.bgimage{
    background-image: url( "../../assets/img/bg-img/loginbg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}