.single-line-img {
  min-width: 100%;
  height: 1px;
  color: black;
}

.investor-information-image {
  content: url(../Assets/AZO_12345.jpg);
}

.investor-logo {
  content: url(../Assets//IR_logo.gif);
}
