.row-1 {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 75vh;
}

.header-1 {
  font-size: 70px;
  margin-bottom: 10%;
}
